{% extends "base.html" %}

{% block title %}Добавление элемента{% endblock %}
	
{% block javascript %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="/static/addelement.js"></script>
	<script src="/static/tabs.js"></script>
{% endblock %}

{% block center %}
	<div class="form">
	{{form.non_field_errors}}
	{%if not update %}
		<form method="POST" action="{% url 'aladmin:create-element' %}">
			{%csrf_token%}
			<p>
				{{form.name.errors}}
				<label for="name">Название элемента:</label>
				{{form.name}}
			</p>
			<p>
				<label for="category">Категория:</label>
				{{form.category}}
			</p>
			<label for="recipe">Рецепт:</label>
			<div id="drop1">Элемент 1</div>
			<div id="drop2">Элемент 2</div>
				<!--Element id goes here-->
				{{form.first_recipe_el}}
				{{form.second_recipe_el}}
			{{form.description.errors}}
			<label for="description">Описание:</label>
			<br>
			{{form.description}}
			<br>
			<input type="submit" value="Создать">
		</form>
	{%else%}
		<form method="POST" action="{% url 'aladmin:update-element' updated_element.id%}">
			{%csrf_token%}
			<p>
				<label for="name">Название элемента:</label>
				{{form.name}}
			</p>
			<p>
				<label for="category">Категория:</label>
				{{form.category}}
			</p>
			<label for="recipe">Рецепт:</label>
			<div id="drop1">Элемент 1</div>
			<div id="drop2">Элемент 2</div>
				<!--Element id goes here-->
				{{form.first_recipe_el}}
				{{form.second_recipe_el}}
			<label for="description">Описание:</label>
			<br>
			{{form.description}}
			<br>
			<input type="submit" value="Изменить">
		</form>
	{%endif%}
	</div>
	<div class="tabs">
		Элементы:
		<ul class="tabs_caption">
			<li>Категория</li>
			<li>Категория</li>
		</ul>	
		
		<div class="tabs_content">
			<div id="list"></div>
		</div>
				
		<div class="tabs_content">
			2 категория
		</div>
	</div>
{% endblock %}