{% extends "base.html" %}

{% block title %}Добавление элемента{% endblock %}
	
{% block javascript %}
	<script src="/static/js/obj_load_drag.js"></script>
	<script src="/static/js/obj_drop.js"></script>
	<script src="/static/js/tabs.js"></script>
{% endblock %}

{% block header%}
	<a href="{%url 'aladmin:index'%}">Список элементов</a>
{% endblock %}

{% block center %}
	<div class="form">
	{{form.non_field_errors}}
	{%if not update %}
		<form method="POST" action="{% url 'aladmin:create-element' %}">
			{%csrf_token%}
			<p>
				{{form.name.errors}}
				<label for="name">Название элемента:</label>
				{{form.name}}
			</p>
			<p>
				{{form.category.errors}}
				<label for="category">Категория:</label>
				{{form.category}}
				<input type="checkbox" name="orig_check">Исходный элемент
			</p>
			<div id="recipe">
				Рецепт:
				<div id="drop1">Элемент 1</div>
				<div id="drop2">Элемент 2</div>
				<!--Element id goes here-->
				{{form.first_recipe_el}}
				{{form.second_recipe_el}}
			</div>
			<label for="description">Описание:</label>
			<br>
			{{form.description.errors}}
			{{form.description}}
			<br>
			<input type="submit" value="Создать">
		</form>
	{%else%}
		<form method="POST" action="{% url 'aladmin:update-element' updated_element.id%}">
			{%csrf_token%}
			<p>
				{{form.name.errors}}
				<label for="name">Название элемента:</label>
				{{form.name}}
			</p>
			<p>
				{{form.category.errors}}
				<label for="category">Категория:</label>
				{{form.category}}
				<input type="checkbox" name="orig_check">Исходный элемент
			</p>
			<div id="recipe">
				Рецепт:
				<div id="drop1">Элемент 1</div>
				<div id="drop2">Элемент 2</div>
				<!--Element id goes here-->
				{{form.first_recipe_el}}
				{{form.second_recipe_el}}
			</div>
			<label for="description">Описание:</label>
			<br>
			{{form.description.errors}}
			{{form.description}}
			<br>
			<input type="submit" value="Изменить">
		</form>
	{%endif%}
	</div>
	<div class="tabs">
		<ul class="tabs_caption"></ul>
	</div>
{% endblock %}