<h>Admin design here!</h>
<ul>
	<li><a href="{%url 'aladmin:create-element'%}">Добавить</a></li>
</ul>
<table border="2px">
	{% for element in elements %}
		<tr>
			<td>{{element.id}}</td>
			<td>{{element.name}}</td>
				{% if element.is_essential_element %}
					<td>essential</td>
				{%else%}
					<td>{{element.first_recipe_el}}+{{element.second_recipe_el}}</td>
				{%endif%}
				<td><a href="{% url 'aladmin:del' element.id %}">Удалить</a></td>
		</tr>
	{%empty%}
		<p>No elements here!</p>
	{%endfor%}
</table>