{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block center %}
	{%if not error%}
	<ul>
		<li><a href="{%url 'aladmin:create-element'%}">Добавить</a></li>
	</ul>
	{%else%}
		<p>Чтобы удалить элемент {{element_to_delete.name}} удалите или измените следущие элементы:</p>
	{%endif%}
	<table border="2px">
		{% for element in elements %}
			<tr>
				<td>{{element.id}}</td>
				<td>{{element.name}}</td>
					{% if element.is_essential_element %}
						<td>essential</td>
					{%else%}
						<td>{{element.first_recipe_el}}+{{element.second_recipe_el}}</td>
					{%endif%}
					<td>{{element.description}}</a></td>
					<td><a href="{% url 'aladmin:del' element.id %}">Удалить</a></td>
					<td><a href="{% url 'aladmin:update-element' element.id %}">Изменить</a></td>
			</tr>
		{%empty%}
			<p>No elements here!</p>
		{%endfor%}
	</table>
{% endblock %}