{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block header%}
	<div id="menu">	
		<a href="{%url 'aladmin:create-element'%}">Добавить элемент</a>
	</div>
{% endblock %}

{% block center %}
	<div class="block">
	{%if error%}
	<p>Чтобы удалить элемент {{element_to_delete.name}} удалите или измените следущие элементы:</p>
	{%endif%}
		{% for element in elements %}
		<div class="card">		
			Идентификатор:
			{{element.id}}
			Категория:
			{{element.category}}
			Название:
			{{element.name}}
			{% if element.is_essential_element %}
			Исходный элемент
			{%else%}
			Рецепт:
			{{element.first_recipe_el}}+{{element.second_recipe_el}}
			{%endif%}
			Описание:
			{{element.description}}
			<a href="{% url 'aladmin:del' element.id %}">Удалить</a>
			<a href="{% url 'aladmin:update-element' element.id %}">Изменить</a>
		</div>
		{%empty%}
			<p>No elements here!</p>
		{%endfor%}
	</div>
{% endblock %}