body {
	background-image: url("../images/bgmain.png");
	font-family: Verdana, Helvetica, Arial;
	font-size: 11pt;
	color: #DCDCDC;
	background-color: #0A0A0A;
	margin: 0;
	padding: 0;
	min-width: 800px;
}

/*Header*/
#header {
	border-bottom: 1px solid #323537;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	font-size: 25pt;
}

/*Center block*/
#center {
	margin: 0 250px;
	text-align:center;
}

.block,.form,.tabs {
	background-image: url("../images/bgmain.png");
	background-color: #1C1C1C;
	margin: 5px;
	padding: 20px;
	border: 1px dashed #323537;
	vertical-align: top;
}

.form,.tabs {
	display: inline-block;
}

.form p {
	text-align: right;
}

#menu {
	display: inline;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px 0;
}

a, #menu a {
	color: white;
	text-decoration: none;
}

a:hover, #selected, #menu a:hover, .tabs_caption li:hover{
	color: #CCFF00;
}

#menu a {
	background-image: url("../images/bgmain.png");
	background-color: #1E211E;
	margin: 10px;
	padding: 10px 5%;
	border: 1px solid #323537;
	border-radius: 5px;
}

#selected, #menu a:hover, .tabs_caption li:hover {
	background-color: #000;
	box-shadow: inset 0 0 5px 2px #CCFF00;
}

#drop1, #drop2, .select {
	background-color: #1E211E;
	border: 1px solid #323537;
	margin: 5px;
	padding: 5px;
	font-size: 10pt;
	text-align: center;
}

/*Tabs*/
.tabs_caption {
	padding: 0;
}
.tabs_caption li {
	display: inline;
	padding: 5px 10px;
	cursor: pointer;
	border: 1px solid #323537;
}

.tabs_caption .active {
	background-color: #000;
	color: #F5F6CE;
	box-shadow: inset 0 0 5px 1px #F5F6CE;
}

.tabs_content {
	display: none;
}
.tabs_content.active {
	display: block;
}

#footer {
	position: fixed;
	left: 0; bottom: 0;
	width: 100%;
	border-top: 1px solid #323537;
	margin-top: 25px;
	padding: 5px 0;
}	