body {
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 25px;
  text-align: center;
}

.table th, .table td {
  text-align: center;
}

#board {
  height: 80vh;
}

#board  a{
  width: auto;
  position: absolute;
}

.ui-draggable {
  margin: 5px 2px 0 0;
}

.well {
  padding: 10px;
  margin-bottom: 5px;
}

#clearall {
  float: right;
  width: 80px;
  height: 80px;
  background: url(../img/trash.png);
  background-repeat: no-repeat;
  background-position: center;
}

#lastElems {
  position: relative;
  float: left;
  top: 98%;
  opacity: 0.5;
}

.results tr[visible='false'], .no-result {
  display: none;
}

.results tr[visible='true'] {
  display: table-row;
}

.counter {
  padding: 8px;
  opacity: 0.5;
}