{% extends "base.html" %}

{% block title %}
	Список элементов
{% endblock %}

{%block javascript%}
	<script src="/static/js/table_search.js"></script>
{%endblock%}

{% block center %}
	<div class="text-center">
		<div class="btn-group text-center">
			<a type="button" class="btn btn-lg btn-primary active" href="{% url 'aladmin:elements-list' %}">Список элементов</a>
			<a type="button" class="btn btn-lg btn-default" href="{% url 'aladmin:users-list' %}">Список пользователей</a>
			<a type="button" class="btn btn-lg btn-default" href="{% url 'aladmin:feedback-list' 'all' %}">Жалобы/предложения</a>
		</div>
	</div>

	<a class="btn btn-success pull-left" href="{% url 'aladmin:create-element' %}">Добавить элемент</a>
	<div class="form-group pull-right">
		<input type="text" class="search form-control" placeholder="Поиск...">
	</div>
	<span class="counter pull-right"></span>
	{%if error%}
		<div class="text-center text-danger">
			<h4>Чтобы удалить элемент {{element_to_delete.name}} удалите или измените следующие элементы</h4>
		</div>
	{%endif%}	
		<table class="table table-condensed table-hover results">
			<thead>
				<tr>
					<th>ID</th>
					<th>Категория</th>
					<th>Название</th>
					<th>Рецепт</th>
					<th>Описание</th>
					<th>Действие</th>
				</tr>
				<tr class="warning no-result">
				<td colspan="6">
					Элементы не найдены
				</td>
			</tr>
			</thead>
		 
			<tbody>	
			{% for element in elements %}
				<tr>	
					<td>{{element.id}}</td>
					<td>{{element.category}}</td>
					<td>{{element.name}}</td>
					<td>
						{% if element.is_essential_element %}
						Исходный элемент
						{% else %}
						{{element.first_recipe_el}}+{{element.second_recipe_el}}
						{% endif %}
					</td>
					<td>{{element.description}}</td>
					<td>
						<a href="{% url 'aladmin:update-element' element.id %}" class="btn btn-sm btn-warning">Изменить</a>
						<a href="{% url 'aladmin:del' element.id %}" class="btn btn-sm btn-danger">Удалить</a>
					</td>
				</tr>
			{% empty %}Список элементов пуст
			{% endfor %}
			</tbody>
		</table>
{% endblock %}