{% extends "base.html" %}

{% block title %}
	Список элементов
{% endblock %}

{% block center %}
	<div class="text-center">
		<h2>Список элементов</h2>
		<a class="btn btn-success" href="{% url 'aladmin:create-element' %}">Добавить элемент</a>
	</div>
	{%if error%}
		<div class="text-center text-danger">
			<h4>Чтобы удалить элемент {{element_to_delete.name}} удалите или измените следующие элементы</h4>
		</div>
	{%endif%}	
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Категория</th>
					<th>Название</th>
					<th>Рецепт</th>
					<th>Описание</th>
					<th>Действие</th>
				 </tr>
			</thead>
		 
			<tbody>	
			{% for element in elements %}
				<tr>	
					<td>{{element.id}}</td>
					<td>{{element.category}}</td>
					<td>{{element.name}}</td>
					<td>
						{% if element.is_essential_element %}
						Исходный элемент
						{% else %}
						{{element.first_recipe_el}}+{{element.second_recipe_el}}
						{% endif %}
					</td>
					<td>{{element.description}}</td>
					<td>
						<a href="{% url 'aladmin:update-element' element.id %}" class="btn btn-sm btn-warning">Изменить</a>
						<a href="{% url 'aladmin:del' element.id %}" class="btn btn-sm btn-danger">Удалить</a>
					</td>
				</tr>
			{% empty %}Список элементов пуст
			{% endfor %}
			</tbody>
		</table>
{% endblock %}