{% extends "base.html" %}
{% load humanize %}

{% block title %}
	Жалобы/предложения
{% endblock %}

{%block javascript%}
	<script src="/static/js/table_search.js"></script>
{%endblock%}

{% block center %}
	<div class="text-center">
		<div class="btn-group text-center">
			<a type="button" class="btn btn-lg btn-default" href="{% url 'aladmin:elements-list' %}">Список элементов</a>
			<a type="button" class="btn btn-lg btn-default" href="{% url 'aladmin:users-list' %}">Список пользователей</a>
			<a type="button" class="btn btn-lg btn-primary active" href="{% url 'aladmin:feedback-list' 'all' %}">Жалобы/предложения</a>
		</div>
	</div>
	<div class="text-center">
		<div class="btn-group text-center">
			<a type="button" class="btn btn-sm btn-default" href="{% url 'aladmin:feedback-list' 'all' %}">Все</a>
			<a type="button" class="btn btn-sm btn-default" href="{% url 'aladmin:feedback-list' 'accepted' %}">Принятые</a>
			<a type="button" class="btn btn-sm btn-default" href="{% url 'aladmin:feedback-list' 'rejected' %}">Отклоненные</a>
			<a type="button" class="btn btn-sm btn-default" href="{% url 'aladmin:feedback-list' 'notviewed' %}">Не просмотренные</a>
		</div>
	</div>
	<div class="form-group pull-right">
		<input type="text" class="search form-control" placeholder="Поиск...">
	</div>
	<span class="counter pull-right"></span>
	<table class="table table-condensed table-hover results">
		<thead>
			<tr>
				<th>Пользователь</th>
				<th>Обращение</th>
				<th>Создан</th>
				<th>Действие</th>
			</tr>
		</thead>

		<tbody>
			{% for report in report_list %}
				{% if report.accepted %}
					<tr class="bg-info">
				{% elif report.accepted == None %}
					<tr>
				{% else %}
					<tr class="bg-danger">
				{% endif %}
						<td>{{report.user.get_username}}</td>
						<td>{{report.text|slice:":20"}}...</td>
						<td>{{report.date|naturaltime}}</td>
						<td>
							<a href="#" class="btn btn-sm btn-primary">More</a>
							<a href="{% url 'aladmin:set-report' report.id 'accepted' %}?next={{request.path}}" class="btn btn-sm btn-success">✓</a>
							<a href="{% url 'aladmin:set-report' report.id 'rejected' %}?next={{request.path}}" class="btn btn-sm btn-danger">X</a>
						</td>
					</tr>
			{% empty %}
				<td colspan="3">
					Отзывы не найдены
				</td>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}