{% extends "base.html" %}
{% load humanize %}

{% block title %}
	Жалобы/предложения
{% endblock %}

{%block javascript%}
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
{%endblock%}

{% block center %}
	<div class="text-center">
		<div class="btn-group">
			<a type="button" class="btn btn-lg btn-default" href="{% url 'aladmin:elements-list' %}">Список элементов</a>
			<a type="button" class="btn btn-lg btn-default" href="{% url 'aladmin:users-list' %}">Список пользователей</a>
			<a type="button" class="btn btn-lg btn-primary active" href="{% url 'aladmin:feedback-list' 'all' %}">Жалобы/предложения</a>
		</div>
		<br>
		<div class="btn-group">
			<a type="button" class="btn btn-sm btn-default" href="{% url 'aladmin:feedback-list' 'all' %}">Все</a>
			<a type="button" class="btn btn-sm btn-default" href="{% url 'aladmin:feedback-list' 'accepted' %}">Принятые</a>
			<a type="button" class="btn btn-sm btn-default" href="{% url 'aladmin:feedback-list' 'rejected' %}">Отклоненные</a>
			<a type="button" class="btn btn-sm btn-default" href="{% url 'aladmin:feedback-list' 'notviewed' %}">Непросмотренные</a>
		</div>
	</div>
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Пользователь</th>
				<th>Обращение</th>
				<th>Последнее изменение</th>
				<th>Действие</th>
			</tr>
		</thead>

		<tbody>
			{% for report in report_list %}
				{% if report.accepted %}
					<tr class="bg-success">
				{% elif report.accepted == None %}
					<tr>
				{% else %}
					<tr class="bg-danger">
				{% endif %}
						<td>{{report.user.get_username}}</td>
						<td>{{report.text|slice:":20"}}...</td>
						<td>{{report.date|naturaltime}}</td>
						<td>
							<a href="{% url 'aladmin:set-report' report.id 'accepted' %}?next={{request.path}}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok"></span></a>
							<a href="{% url 'aladmin:set-report' report.id 'rejected' %}?next={{request.path}}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
							<a href="{% url 'aladmin:report-details' report.id %}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon glyphicon glyphicon-info-sign"></span></a>
						</td>
					</tr>
				{% empty %}
				<td colspan="4">
					Список отзывов пуст
				</td>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}