{% extends "base.html" %}

{% block title %}
	Жалобы/предложения
{% endblock %}

{%block javascript%}
	<script src="/static/js/table_search.js"></script>
{%endblock%}

{% block center %}
	<h2 class="text-center">Жалобы/предложения</h2>
	<div class="form-group pull-right">
		<input type="text" class="search form-control" placeholder="Поиск...">
	</div>
	<span class="counter pull-right"></span>
	<table class="table table-condensed table-hover results">
		<thead>
			<tr>
				<th>Пользователь</th>
				<th>Обращение</th>
				<th>Действие</th>
			</tr>
			<td colspan="3">
				Отзывы не найдены
			</td>
		</thead>

		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td>
					<a href="#" class="btn btn-sm btn-success">✓</a>
					<a href="#" class="btn btn-sm btn-danger">X</a>
				</td>
			</tr>
		</tbody>
	</table>
{% endblock %}