{% extends "base.html" %}
{% load humanize %}

{% block title %}
	Отзыв #{{report.id}}
{% endblock %}

{% block center %}
	<div class="center-block well text-center">
		<div class="form-group col-xs-4">
			<label>Пользователь:</label>
			{{report.user.get_username}}
		</div>
		<div class="form-group col-xs-4">
			<label>Статус:</label>
			{% if report.accepted %}
				<b class="text-success">Принят</b>
			{% elif report.accepted == None %}
				<b class="text-muted">Не просмотрен</b>
			{% else %}
				<b class="text-danger">Отклонен</b>
			{% endif %}
		</div>
		<div class="form-group col-xs-4">
			<label>Дата изменения:</label>
			{{report.date|naturaltime}}
		</div>
		<div class="form-group">
			<label>Отзыв:</label>
			{{report.text}}
		</div>
		{% if report.screenshot %}
			<div class="form-group col-xs-12">
				<label>Скриншот:</label>
				<a href="{{report.screenshot.url}}" target="_blank"><img class="img-thumbnail w-1" src="{{report.screenshot.url}}"></a>
			</div>
		{% endif %}
		<a href="{% url 'aladmin:feedback-list' 'all' %}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-th-list"></span> К списку</a>
		<a href="{% url 'aladmin:set-report' report.id 'accepted' %}?next={{request.path}}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok"></span> Принять</a>
		<a href="{% url 'aladmin:set-report' report.id 'rejected' %}?next={{request.path}}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Отклонить</a>
		<a href="{% url 'aladmin:delete-report' report.id %}" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
	</div>
{% endblock %}