{% extends "base.html" %}

{% block title %}
	Список пользователей
{% endblock %}

{% block center %}
	<h2 class="text-center">Список пользователей</h2>
	<table class="table table-condensed table-hover">
			<thead>
			<tr>
				<th>Пользователь</th>
				<th>Действие</th>
			 </tr>
		</thead>

		<tbody>
		{% for user in users %}
			{% if user.is_staff %}
				<tr class="bg-info">
			{% elif not user.is_active %}
				<tr class="bg-danger">
			{% else %}
				<tr>
			{% endif %}
				<td>{{ user.username }}</td>
				<td>
				{% if not user.is_staff %}
					{% if user.is_active%}
						<a href="{% url 'aladmin:set-user-active' user.id 0 %}" class="btn btn-sm btn-danger">Заблокировать</a>
					{% else %}
						<a href="{% url 'aladmin:set-user-active' user.id 1 %}" class="btn btn-sm btn-primary">Разблокировать</a>
					{% endif %}
				{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}