{% extends "base.html" %}

{% block title %}
	Список пользователей
{% endblock %}

{%block javascript%}
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
{%endblock%}

{% block center %}
	<div class="text-center">
		<div class="btn-group text-center">
			<a type="button" class="btn btn-lg btn-default" href="{% url 'aladmin:elements-list' %}">Список элементов</a>
			<a type="button" class="btn btn-lg btn-primary active" href="{% url 'aladmin:users-list' %}">Список пользователей</a>
			<a type="button" class="btn btn-lg btn-default" href="{% url 'aladmin:feedback-list' 'all' %}">Жалобы/предложения</a>
		</div>
	</div>
	<table class="table table-condensed table-hover">
			<thead>
			<tr>
				<th>Пользователь</th>
				<th>Действие</th>
			</tr>
		</thead>

		<tbody>
		{% for user in users %}
			{% if user.is_staff %}
				<tr class="bg-info">
			{% elif not user.is_active %}
				<tr class="bg-danger">
			{% else %}
				<tr>
			{% endif %}
				<td>{{ user.username }}</td>
				<td>
				{% if not user.is_staff %}
					{% if user.is_active%}
						<a href="{% url 'aladmin:set-user-active' user.id 0 %}" class="btn btn-sm btn-danger">Заблокировать</a>
					{% else %}
						<a href="{% url 'aladmin:set-user-active' user.id 1 %}" class="btn btn-sm btn-primary">Разблокировать</a>
					{% endif %}
				{% endif %}
				</td>
			</tr>
			{% empty %}
			<td colspan="2">
				Список пользователей пуст
			</td>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}