<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	{%block javascript%}{%endblock%}
	</head>
<body>
<!--Header -->
	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'game:index' %}">Alchemy</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					{% block header %}{% endblock %}
					{% if user.is_authenticated %}
					<li><a href="{% url 'game:logout' %}">Выход</a></li>
					{% else %}
					<li><a href="{% url 'game:login' %}">Вход</a></li>
					<li><a href="{% url 'game:registration' %}">Регистрация</a></li>
					{% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
<!--Content-->
	<div class="container">
		<div class="row">
			{% block center %}{% endblock %}
		</div>
	</div>
<!--Footer-->
	<footer>
		{% block footer %}{% endblock %}
	</footer>
</body>
</html>