{% extends "base.html" %}

{% block title %}Alchemy Game{% endblock %}

{% block header%}
	{% if user.is_staff %}
		<li><a href="{% url 'aladmin:create-element' %}">Добавить элемент</a></li>
		<li><a href="{% url 'aladmin:index' %}">Список элементов</a></li>
	{% endif %}
{% endblock %}

{% block javascript %}
	<script src="/static/js/obj_load_drag.js"></script>
	<script src="/static/js/game.js"></script>
{% endblock %}

{% block center %}
	<div class="well table-responsive">
		<ul class="nav nav-pills nav-justified"></ul>
		<div class="tab-content"></div>
	</div>
	<div class="well" id="board">
		<div id="lastElems"></div>
		<div class="btn btn-default" id="clearall"></div>
	</div>
{% endblock %}