{% extends "base.html" %}

{% block title %}Alchemy{% endblock %}

{% block center %}
	<h1 class="text-center">Алхимия - логическая онлайн игра</h1>
	<h3 class="text-justify"><em>Весь наш мир состоит из огромного количества элементов, а они же в свою очередь, в той или иной степени, состоят из четырёх основных элементов: огня, воды, земли и воды. В нашей игре мы даём тебе возможность воссоздать весь процесс развития Земли, зарождая свой собственный мир!
	Ты можешь совмещать элементы, тем самым создавая всё более и более сложные вещества. Как именно нужно комбинировать получившиеся вещи прямо никто не скажет! Используй свою логику и смекалку чтобы добиться прогресса, однако если тебе не удаётся открыть что-то новое, ты всегда можешь уповать на удачу. Не смеем тебя больше задерживать, вперёд, проверь свои силы!
	{% if not user.is_authenticated %}
		Для того, чтобы начать играть <a href="#" data-toggle="modal" data-target="#login-modal">зайдите в свой аккаунт</a> или <a href="{% url 'game:registration' %}">создайте новый</a>.</em></h3>
	{% else %}
		</em></h3>
		<p class="text-center"><a class="btn btn-lg btn-success text-uppercase" href="{% url 'game:game-page' %}">Продолжить игру</a></p>
	{% endif %}
{% endblock %}