{% extends "base.html" %}

{% block title %}
	Авторизация
{% endblock %}

{% block center %} 
	<form class="form-signin center-block" role="form" method="post" action="{% url 'game:login' %}">
		{% csrf_token %}
		<h2>Авторизация</h2>

		{% if form.non_field_errors %}
			<div class="alert alert-danger" role="alert"> {{form.non_field_errors.as_text}} </div>
		{% endif %}

		{% if form.username.errors %}
			<div class="form-group has-error">
			<strong class="help-block">{{form.username.errors.as_text}}</strong>
		{% else %}
			<div class="form-group">
		{% endif %}

			<input id="id_username" name="username" type="username" class="form-control" placeholder="Имя пользователя" required autofocus>
		</div>

		{% if form.password.errors %}
			<div class="form-group has-error">
			<strong class="help-block">{{form.password.errors.as_text}}</strong>
		{% else %}
			<div class="form-group">
		{% endif %}

			<input id="id_password" name="password" type="password" class="form-control" placeholder="Пароль" required>
		</div>
		<input type="hidden" name="next" value="{{ next }}" />
		<button class="btn btn-primary btn-block" type="submit">Вход</button>
	</form>
{% endblock %}